<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>BootstrapApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/slider' %>
    <div class="container-fluid">
      <div class="row">
        <%= yield %>
        <%= render partial: 'layouts/bnr' %>
      </div>
    </div>
    <%= render partial: 'layouts/modal' %>
    <script>
    // モーダルウィンドウ
      $(window).on('load',function(){
        $('#modal_box').modal('show');
      }); 
    </script>
  </body>
</html>
